{
  "printWidth": 90,
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "arrowParens": "avoid",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrder": [
    "react",
    "<THIRD_PARTY_MODULES>",
    "^pages",
    "^routes",
    "^modals",
    "^components",
    "^utils",
    "^styles",
    ".(css|scss|sass)$",
    ".(png|jpg|svg)$",
    "^.[.]?"
  ]
}