{
  "printWidth": 90,
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "arrowParens": "avoid",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrder": [
    "react",
    "<THIRD_PARTY_MODULES>",
    "^(.|src)/(App|pages|routes)",
    "^(.|src)/components",
    ".(css|scss|sass|png|jpg|svg)",
    "^.[.]?"
  ]
}