@import '../../styles/vars';
@import '../../styles/mixins';
@import '../../styles/svg-icons';

.Container {
    z-index: $z-index-Modal;
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba($color-gray-dark, 0.9);
    backdrop-filter: blur(5px);

    &__Content {
        position: relative;
        padding: rem(30px);

        border-radius: rem(10px);
        background-color: $page-bg;
    }

    &__CloseButton {
        position: absolute;
        top: rem(5px);
        right: rem(5px);

        color: $color-gray-dark;
        transition: color $transition-duration ease-in;

        &:hover {
            color: $color-crimson;
        }
    }
}
