html {
    font-family: $font-main;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;

    scroll-behavior: smooth;
}

body {
    background-color: $page-bg;
    color: $text-color;

    &.Dark {
        background-color: darken($page-bg, 50%);
        color: lighten($text-color, 50%);
    }
}
