@import './mixins';

.Container {
    width: 100%;
    padding-inline: max(calc((100vw - $container-width) / 2), $container-padding-min);

    &__GraniteLight {
        background-image: url('../media/backgrounds/granite-light.jpg');
        background-size: 100vh;
    }

    &__GraniteDark {
        background-image: url('../media/backgrounds/granite-dark.jpg');
        background-size: 100vh;
    }

    &__Appear {
        animation: appear calc($transition-duration * 2);
        @keyframes appear {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
}

.ContainerRight {
    padding-left: max(calc((100vw - $container-width) / 2), $container-padding-min);
}

.ContainerLeft {
    padding-right: max(calc((100vw - $container-width) / 2), $container-padding-min);
}
