@mixin flex-horizontal($col-gap: 0px) {
    display: flex;
    column-gap: $col-gap;
}

@mixin flex-vertical($row-gap: 0px) {
    display: flex;
    flex-direction: column;
    row-gap: $row-gap;
}

@mixin container-bg($img-url) {
    background-image: url($img-url);
    background-position: top;
    background-size: contain;
    background-repeat: repeat;
}
