@mixin heightWidth($height, $width) {
    height: $height;
    width: $width;
    max-height: $height;
    max-width: $width;
}

.Ico {
    display: flex;
    align-self: center;

    &__Logo {
        @include heightWidth(34px, 240px);
    }

    &__HeaderTop {
        @include heightWidth(16px, 16px);
        margin-right: 3px;
    }
}
