@import '../styles/vars';
@import '../styles/mixins';

@mixin height-width($height, $width: null) {
    @if not($width) {
        $width: $height;
    }

    height: rem($height);
    max-height: rem($height);
    width: rem($width);
    max-width: rem($width);
}

.Ico {
    display: inline-flex;
    align-self: center;

    &__Logo {
        @include height-width(34px, 240px);
    }

    &__HeaderTop {
        @include height-width(16px);
    }

    &__Close {
        @include height-width(22px);
    }

    &__Expand {
        @include height-width(24px);
    }
}
