$container-width: 1200px;
$container-padding: 30px;

$font-main: 'Ysabeau Office', sans-serif;

$transition-duration: 0.2s;

$page-bg: #ffffff;
$text-color: #000000;

$color-green: #70a401;
$color-gray: #78838c;
$color-gray-dark: #1a1a1a;
$color-crimson: #c8102e;
$color-white: #ffffff;
