$container-width: 1150px;
$container-padding-min: 30px;

$font-main: 'Rubik', sans-serif;
$font-size: 15px;
$line-height: 1.3em;
$font-weight: 400;

$transition-duration: 0.2s;

$page-bg: #ffffff;
$text-color: #313131;
$text-white: #ffffff;

$modal-bg: rgba(26, 26, 26, 0.9);

$color-green: #70a401;
$color-gray: #78838c;
$color-gray-dark: #1a1a1a;
$color-crimson: #c8102e;
$color-white: #ffffff;

$z-index-Modal: 200; // [201-299]
$z-index-Header: 100; // [101-199]
$z-index-ToggleMenu: 0; // [2-99]
