$container-width: 1150px;
$container-padding-min: 30px;

$font-main: 'Ysabeau Office', sans-serif;

$transition-duration: 0.2s;

$page-bg: #ffffff;
$text-color: #313131;
$text-white: #ffffff;

$modal-bg: rgba(26, 26, 26, 0.9);

$color-green: #70a401;
$color-gray: #78838c;
$color-gray-dark: #1a1a1a;
$color-crimson: #c8102e;
$color-white: #ffffff;

$Modal-z-index: 100;
