@import '../../styles/mixins';
@import '../../styles/svg-icons';
@import '../../styles/vars';

.Container {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.Top {
    @include flex-horizontal(25px);
    padding-block: 12px;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;

    color: $color-gray;

    &Left {
        @include flex-horizontal(20px);
        align-items: center;
    }

    &Right {
        @include flex-horizontal(20px);
        align-items: center;

        & .Ico {
            color: $color-green;
        }
    }

    &__Button,
    &__Link {
        display: flex;
        align-items: center;
        color: currentColor;

        &:hover {
            cursor: pointer;
            color: $color-green;
            transition: color $transition-duration ease-in;
        }
    }
}

.Floor {
    @include flex-horizontal(25px);
    padding-block: 12px;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;

    font-weight: 700;

    &__NavLinks {
        @include flex-horizontal(25px);
    }

    &__Buttons {
        @include flex-horizontal(25px);
    }

    &__NavLink,
    &__Button {
        text-transform: uppercase;
        transition:
            color $transition-duration ease-in,
            background-color $transition-duration ease-in;
    }

    &__NavLink {
        color: $text-color;

        &:hover {
            color: $color-crimson;
        }
    }

    &__Button {
        @include flex-horizontal(8px);
        align-items: center;

        padding-block: calc(9rem / 16);
        padding-inline: calc(24rem / 16);

        border-radius: 0.25rem;
        color: $color-white;
        background-color: $color-green;

        &:hover {
            background-color: darken($color-green, 5%);
        }
    }
}
