@import '../../styles/mixins';
@import '../../styles/svg-icons';
@import '../../styles/vars';

.Container {
    z-index: $z-index-Header;

    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    padding-block: 0.5rem;
    box-shadow: 0 0 1rem 0 white;
}

.Top {
    @include flex-horizontal(25px);
    padding-block: rem(12px);
    justify-content: space-between;
    white-space: nowrap;

    color: $color-gray;

    &Left {
        @include flex-horizontal(20px);
    }

    &Right {
        @include flex-horizontal(20px);

        & .Ico {
            color: $color-green;
        }
    }

    &__Button,
    &__Link {
        @include flex-horizontal(6px);
        color: currentColor;
        transition: color $transition-duration ease-in;

        &_Active {
            color: $color-green;
            font-weight: 500;
        }

        &:hover {
            cursor: pointer;
            color: $color-green;
        }
    }
}

.Floor {
    @include flex-horizontal(25px);
    padding-block: rem(12px);
    justify-content: space-between;
    white-space: nowrap;

    font-weight: 600;

    &__NavLinks {
        @include flex-horizontal(25px);
    }

    &__Buttons {
        @include flex-horizontal(25px);
    }

    &__NavLink,
    &__Button {
        text-transform: uppercase;
        transition:
            color $transition-duration ease-in,
            background-color $transition-duration ease-in;
    }

    &__NavLink {
        color: $text-color;

        &_Active,
        &:hover {
            color: $color-crimson;
        }
    }

    &__Button {
        @include flex-horizontal(6px);

        padding-inline: rem(16px);
        padding-block: rem(8px);

        border-radius: rem(5px);
        color: $color-white;
        background-color: $color-green;

        &:hover {
            background-color: darken($color-green, 5%);
        }
    }
}
