@import '../../styles/vars';
@import '../../styles/mixins';

.Container {
    @include grid-auto-fit(300px, 30px);

    padding-block: rem(30px);
    row-gap: rem(30px);

    color: rgba($text-white, 0.7);
    background-color: $color-gray-dark;
}

.Section {
    @include flex-vertical(12px);

    &:last-child {
        align-self: end;
        justify-self: center;
    }

    &__Title {
        @include font-size(1.2, 500);
        color: $text-white;
    }

    &__Vertical {
        @include flex-vertical(6px);
    }

    &__Horizontal {
        @include flex-horizontal(12px);
    }

    &__Link,
    &__Button {
        width: fit-content;
        color: currentColor;
        transition: color $transition-duration ease-in;
        text-align: left;

        &:hover {
            color: $text-white;
        }
    }

    &__LinkImg {
        max-width: none;
        object-fit: contain;
        object-position: center;
        height: rem(33px);

        filter: grayscale(100%);
        transition: filter $transition-duration ease-in;
        user-select: none;
        -webkit-user-drag: none;

        &:hover {
            filter: grayscale(0%);
        }
    }
}
