@import '../../styles/vars';
@import '../../styles/mixins';

.Wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    padding-block: 40px;
    column-gap: 30px;
    row-gap: 40px;

    color: $text-white;
    background-color: $color-gray-dark;
    line-height: 1.22rem;
    white-space: nowrap;
}

.Section {
    @include flex-vertical(1rem);

    &__Title {
        font-size: 1.1rem;
        font-weight: 600;
    }

    &__Vertical {
        @include flex-vertical(0.5rem);
    }

    &__Horizontal {
        @include flex-horizontal(1rem);
    }

    &__Link,
    &__Button {
        width: fit-content;
        color: rgba($text-white, 0.7);
        transition: color $transition-duration ease-in;

        &:hover {
            color: $text-white;
        }
    }

    &__LinkImg {
        max-width: none;
        object-fit: contain;
        object-position: center;
        height: 33px;

        filter: grayscale(100%);
        transition: filter $transition-duration ease-in;
        user-select: none;
        -webkit-user-drag: none;

        &:hover {
            filter: grayscale(0%);
        }
    }
}

.DownloadSection {
    grid-column: 1/3;
}

.CopyrightSection {
    grid-column: 3/5;
    align-items: end;
    justify-content: end;
    color: rgba($text-white, 0.7);
}
