@import '../../styles/vars';
@import '../../styles/mixins';

.Wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    padding-block: 40px;
    column-gap: 30px;
    row-gap: 40px;

    color: $text-white;
    background-color: $color-gray-dark;
    line-height: 1.22rem;
    white-space: nowrap;
}

.NavLinks {
    @include flex-vertical(0.5rem);
}

.SectionHeading {
    padding-bottom: 1rem;

    font-size: 1.1rem;
    font-weight: 600;
}

.DownloadLinks {
    grid-column: 1/3;
}

.Copyright {
    grid-column: 3/5;
    color: $color-gray;

    &__Email {
        transition: color $transition-duration ease-in;

        &:hover {
            color: $color-white;
        }
    }
}
